@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@for (int i = 0; i < currentCount; i++)
{
    <h1>Contador: @i</h1>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 1;

    private void IncrementCount()
    {
        currentCount++;
        StateHasChanged();
    }
}
