@page "/"

<PageTitle>ToDoList</PageTitle>

<div class="add-form">
    <BSLabel>To do List:</BSLabel>
    <BSInput @bind-Value="description"
        placeholder="Escreva seu item a fazer..."
        InputType="InputType.TextArea"/>
        
    <BSLabel>Para:</BSLabel>
    <BSInput
        InputType="InputType.DateTimeLocal" 
        @bind-Value="deadline" />

    <div class="add-button">
        <BSButton Color="BSColor.Dark" @onclick="OnAdd">
            <i class="fa-solid fa-plus"></i>
            Adicionar
        </BSButton>
    </div>
</div>

<div class="add-form">
    <BSAccordion>
        @foreach (var todo in list)
        {
            <BSAccordionItem>
                <Header>@todo.Descricao</Header>
                <Content>
                    <BSInputCheckbox @bind-Value="todo.Feito" />
                    <BSLabel>Feito</BSLabel>
                    <br />
                    <BSLabel>
                        Tempo restante: @((todo.Prazo - DateTime.Now)
                            .TotalMinutes.ToString("0")) min 
                    </BSLabel>
                </Content>
            </BSAccordionItem>
        }
    </BSAccordion>
</div>

@code {
    List<ToDoElement> list = new List<ToDoElement>();
    string description = "";
    DateTime deadline = DateTime.Now;

    public void OnAdd()
    {
        ToDoElement element = new ToDoElement();
        element.Descricao = description;
        element.Prazo = deadline;
        element.Feito = true;
        list.Add(element);

        description = "";
        deadline = DateTime.Now;
        StateHasChanged();
    }
}